<body>
<button class="btn btn-light" (click)="this.goBack()">Back</button>
<h2>Insert new series/movie</h2>

<div>
<p>Title:</p>
    <input #title class="title">
</div>
<div>
<p>Description:</p>
    <textarea cols=50 rows=4 #description class="description"></textarea>
</div>
<div>
<p>Score:</p>
    <input size=2 min=0 max=10 #score type="number" class="score">
</div>
<div>
<p>Genre:</p>
  <input #genre class="genre">
</div>
<div>
<p>Image:</p>
    <input type="file" #image class="image" (change)="detectFiles($event)" accept=".png,.jpg,.jpeg">
</div>

<br>
<button (click)="saveItem(title.value, description.value, score.value, genre.value)">Save</button>
</body>
